/* font */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/* Variables */

:root {
    --deepForest: #2E4600;
    --fernLeaf: #588C42;
    --freshMint: #82B56D;
    --clearSky: #87CEEB;
    --paleStone: #F5F1E4;
    --mobileSmSpacer: 10px;
    --mobileLrgSpacer: 25px;
    --tinySpacer: 5px;
    --smSpacer: 15px;
    --medSpacer: 50px;
    --lrgSpacer: 100px;
}



/* general styling */

* {
    box-sizing: border-box;
    font-family: "Epilogue", serif;
}

body{
    margin: 0;
}

main {
    margin: 10px;
}

/* --- */
/* --- */
/* --- */

/* Vi koder til mobil opsætningen først */
/* Her ligger kodning for gennemgående elementer */
h2 {
    font-size: 1rem;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: var(--medSpacer)
}

h3 {
    font-size: 14px;
}

.mobileNone {
    display: none;
}
/* --- */
/* --- */
/* --- */

/* Her ligger CSS for vores navigationsbar */
/* Vi ville gerne have haft at vores navigation var sticky da vi for mobilerne har lidt lange sider, men det kunne desværre ikke lade sig gøre, da der så ikke var mulighed for at se hele navigationsbaren */
/* header{
    position: sticky;
    top: 0;
    z-index: 1;
} */

/* Her arbebjder vi på den øverste del af navigationsbaren, hvor vi sætter en størrelsen på navigationsbaren hvor logoet og h1 ligger inde og sørger for at tingene ligger i midten.*/
.headerLogo {
    background: var(--freshMint);
    height: 68px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Her sætter vi størrelsen på logo billedet */
header img {
    width: 50px;
    height: auto;
}

/* Her styler vi h1 */
h1 {
    font-size: 16px;
    font-weight: 700;
    color: black;
    text-shadow: -4px 4px 10px var(--deepForest);
    margin: 15px;
    font-style: italic;
}

/* Her sætter vi tekst dekorationen til ingen da vores h1 ligger inde i et a/link kommer der en streg under som bliver fjernet når vi skriver css'en som følgende */
header a{
    text-decoration: none;
}

/* Her sætter vi farve og størrelse på det nederste af vores navigation, og sætter tingene i midten på den horisontale. Vi har udkommenteret justify-conten, da det ligger menuen over til højre og når vi så viser resten af listen gemmer det sig udenfor siden.  */
nav {
    background: var(--fernLeaf);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}

/* Her sætter vi størrelsen for vores SVG burger menu */
.fa-bars {
    font-size: 35px;
    margin: 8.38px;
}

/**
    Da navigationen er lavet ved hjælp af checkbokse, viser den automatisk en lille checkboks ved siden af SVG'en som vi her siger den ikke skal vise sig.
*/

input[type=checkbox] {
    display: none;
}

/*  Vi vil ikke have at ul bliver vist når checkboksen ikke er tjekket, derfor vil vi sætte den til display none, vi laver en position absolout så den ligger sig i forhold til sit forældre element. samtidig har vi puttet en skygge på så den ikke blender sig i med baggrunden.*/

.dropdown ul {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 1;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Her styler vi vores liste elementer med størrelse og farve og hvilken kant de skal have.*/
.dropdown ul li {
    padding: var(--smSpacer);
    width: 150px;
    background-color: var(--fernLeaf);
    border-top: .2px solid var(--deepForest);
    
}

/* Her fortæller vi vores a/links i dropdown at den skal være sort i stedet for sin deafault blå farve samt sætter en skriftstørrelse. */
.dropdown ul li a {
    color: black;
    font-size: 12px;
}

/* Her sætter vi en farve for vores dropdown på level 2 altså dem der ligger inden i dropdownen og sætter en kant. */
.insideDropdown ul li {
    background-color: var(--freshMint);
    border-top: .2px solid var(--fernLeaf);
}

/* Vi laver inside dropdown relative da vi gerne vil flytte på navigationsbaren, men ikke har mulighed for at lægge den hvor vi gerne vil, det kan vi nu, da vi kan rykke den som det passer os. */
.insideDropdown {
    position: relative;
}

/* Her sætter vi tekst størrelsen på labelsne i insideDropdown da de ikke er påvirket af tekst vi har ændret tidligere. */
.insideDropdown label {
    font-size: 12px;
}

/* vi laver en position absolout så den ligger sig i forhold til sit forældre element og vi kan rykke det som vi gerne vil */
.insideDropdown ul {
    position: absolute;
    left: 135px;
    top: -16px;
}

/**
Nu targetter vi så input elementet med type=checkboks når checkboksen er chekced, det gør at vi kan ændre hvordan elementerne skal vises alt efter om den er checket af eller ej.

Alt efter hvad vi gerne vil ændre bruger vi "altid" input[type=checkbox]:checked. ~ fortæller at det er en søskende til vores input.

*/

/* Så her siger den: Når checkboksen er cheket skal UL vise sig */
input[type=checkbox]:checked~ul {
    display: block;
}

/* --- */
/* --- */
/* --- */

/* Her ligger kodning for breadcrumbs */
.breadCrumbs a {
    color: hsl(0, 0%, 0%);
    opacity: 90%;
    font-size: 10px;
}

.breadCrumbs span {
    font-size: 10px;
}

.breadCrumbs {
    margin-block: 12px;
    margin-left: 10px;
    display: flex;
    text-align: center;
    height: 15px;
}

.breadCrumbs a {
    text-decoration: underline;
}

/* --- */
/* --- */
/* --- */

/* Knap kodning */
.buttonContainer {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.button {
    text-decoration: none;
    font-size: 14px;
    color: hsl(0, 0%, 0%);
    background-color: var(--clearSky);
    border-radius: 50px;
    height: 38px;
    width: 180px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

/* --- */
/* --- */
/* --- */

/* Infocards kode */
.infoCards {
    background: var(--paleStone);
    padding: var(--mobileSmSpacer);
    border-radius: 6px;
    margin-bottom: 25px;
}

.infoCards img {
    max-width: 100%;
    height: auto;
}

.infoCards p {
    font-weight: 300;
}

/* --- */
/* --- */
/* --- */
.centeredHeader {
    text-align: center;
}

.teamCards {
    margin: var(--smSpacer);
}

.cards {
    margin-bottom: var(--medSpacer);
}

.lessSpace p{
    margin-bottom: var(--smSpacer);
}

.lessSpace .button {
    margin-bottom: var(--medSpacer);
}

.form {
    background-color: var(--freshMint);
    border-radius: 6px;
padding: var(--smSpacer);
}

form{
    display: grid;
    grid-template-columns: repeat(1fr, 90%, 1fr);
        justify-content: center;
        align-items: center;
        padding-bottom: var(--tinySpacer);
}

form input{
    width: 270px;
    height: 20px;
    border-radius: 6px;
    justify-content: center;
    margin-bottom: var(--tinySpacer);
    
}

.sponsor h2{
    margin-top: var(--medSpacer);
    justify-content: center;
}

.sponsor img {
    height: auto;
    width: 150px;
}

.sponsor a {
    display: inline-flex;
    justify-content: space-around;
}

.sponsorLogo {
    display: flex;
    justify-content: space-around;
}



.newsCard {
    background: var(--paleStone);
    padding: var(--mobileSmSpacer);
    border-radius: 6px;
    margin-bottom: var(--mobileLrgSpacer);
}

.newsCard p {
    margin-bottom: var(--smSpacer);
}

.calender{
    background: var(--fernLeaf);
    padding: var(--mobileSmSpacer);
    margin-bottom: var(--medSpacer);
}
.calender ul {
    list-style: none;
}

.month{
    text-align: center;
}


.weekdays {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.weekdays p {
    margin: 0;
}

.days {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
}

.days p {
    text-align: center;
    margin: 0;
    padding: var(--mobileSmSpacer);
    border: 0.5px solid black;
    background: var(--freshMint);
}

.days p:nth-child(1) {
    grid-column: 3;
}


/* Kodning for kontaktsiden */
.contactHeader {
    margin-top: var(--mobileLrgSpacer);
}

.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.contactCards{
    background-color: var(--paleStone);
    border-radius: 6px;
    margin: var(--tinySpacer);
    text-align: center;
}

.contactCards p {
    margin-bottom: 14px;
    font-size: 11px;
    line-height: 150%;
}

.mobileShow {
    width: 100%;
    margin-block: var(--medSpacer);
}

.quota{
    background: var(--paleStone);
    padding: var(--mobileSmSpacer);
    border-radius: 6px;
    justify-self: center;
    min-width: 350px;
    max-width: 400px;
}

.quota div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.quota p {
    margin-bottom: 0;
    line-height: 250%;
}

.quota p:nth-child(2) {
    text-align: center;
}

.signUp {
    margin-top: var(--medSpacer);
}

.signUp label {
position: relative;
}

.headerImg {
    width: 100%;
}

.map {
    font-size: 10px;
    margin-bottom: var(--mobileLrgSpacer);
}

/* Footer Styling */
footer {
    background: var(--deepForest);
    padding: var(--mobileSmSpacer);
}

footer{
    margin: 0;
    line-height: 150%;
}

footer h4 {
    font-size: 10px;
    color: white;
    margin: 0;
}

footer a {
    font-size: 8px;
    color: white;
    margin: 0;
}

footer p {
    font-size: 8px;
    color: white;
    margin: 0;
}

.fa-facebook, .fa-square-instagram {
    color: white;
    font-size: 35px;
    margin: var(--mobileSmSpacer);
}

footer img {
    height: 35px;
    width: auto;
}

.footerLink {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footerLogo {
    display: flex;
    justify-content: center;
}

hr {
    width: 140px;
}

.politics {
    display: flex;
    justify-content: center;
}

.politics a {
    margin: var(--tinySpacer);
}




/* Desktop styling */

@media (min-width: 1100px) {
    /* general styling */

main {
    margin: 0;
    padding-bottom: var(--medSpacer);
}


 /* Her ligger navigationsbarens CSS */
 .headerLogo {
    height: 150px;
    width: 100%;
}

header img {
    width: 120px;
    height: auto;
    border-radius: 0px;
}

h1 {
    font-size: 40px;
}

nav {
    height: 50px;
    width: 100%;
    /* padding: 10px; */
    display: flex;
    justify-content: space-around;
}

.burgerMenu{
    display: none;
}

.dropdown ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: none;
}

.dropdown ul li {
    border: none;
    padding: 9px;
    text-align: center;
    
}

.dropdown ul li a {
    font-size: 1rem;
}

.dropdown ul li label {
    font-size: 1rem;
}

.insideDropdown ul {
    display: none;
    position: absolute;
    top: 34px;
    
}

.teamNav {
    transform: translateX(-150px);
}

.mapNav {
    transform: translateX(-150px);
}

.memberNav {
    transform: translateX(-145px);
}



.insideDropdown ul li {
    padding: var(--mobileSmSpacer);
    border-top: 0.2px solid var(--deepForest);
}

.insideDropdown label {
    display: contents;
}

nav li:hover {
    background: var(--freshMint);
    transition: 0.3s;
}
.insideDropdown li:hover {
    background: var(--fernLeaf);
}


.headerImg {
    display: block;
    justify-self: center;
    border-radius: 0px;
}

.breadCrumbs {
    margin-top: 12px;
}

.breadCrumbs a {
    font-size: 18px;
    margin-left: 15px;
}

.breadCrumbs a {
    margin: 0px;
}

.breadCrumbs span {
    font-size: 18px;
}

section {
    justify-self: center;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
    line-height: 150%;
    max-width: 75ch;
}

.mobileNone {
    display: block;
    max-width: 100%
}

.memberCards {
    max-width: 900px;
    display: flex;
}

.infoCards {
    width: 400px;
    height: auto;
    margin: var(--medSpacer);
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.infoCards p {
    font-size: 1rem;
    max-width: 380px;
}

.infoCards a {
    position: absolute;
    bottom: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.teamCards {
    background: var(--paleStone);
    border-radius: 6px;
    max-width: 295px;
    display: grid;
    grid-template-rows: repeat(2);
    justify-content: center;
    padding: var(--mobileSmSpacer);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.teamCards img {
    max-width: 240px;
    height: auto;
    margin-bottom: var(--smSpacer);
}

.teamCards a {
    margin-block: var(--smSpacer);
}

.form {
    field-sizing: content;
    min-width: 100%;
    padding-inline: 320px;
    border-radius: 0px;
    margin: 0 auto;
}


.form p {
    text-align: center;
    margin: 0 auto;
    padding-bottom: var(--smSpacer);
}

.form h3{
    text-align: center;
}

.form input {
    margin-bottom: var(--smSpacer);
    height: 30px;
    width: 400px;
}

.button {
    transition: 0.2s;
}

.button:hover {
    scale: 110%;
}

.frontContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--lrgSpacer);
    max-width: 90%;
    margin: 0 auto;
    flex-direction: row-reverse;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.rightSide {
    width: 30%;
}

.membership {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--medSpacer);
}

.membershipText {
    padding-right: var(--lrgSpacer);
    padding-top: var(--medSpacer);
}

.calender {
    width: 100%;
    height: auto;
    border-radius: 0px;
}

.calender .days p{
    padding-block: var(--medSpacer);
    border-radius: 0px;
    transition: 0.3s;
}

.calender p:hover{
    background: var(--clearSky);
}

.map {
    display: flex;
    justify-content: space-between;
}

.map img {
    
    max-width: 100%;
    height: auto;
}

figure {
    display: block;
}

.mapContainer {
    padding-inline: var(--lrgSpacer);
    padding-top: var(--medSpacer);
}

.contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: var(--medSpacer);
}

.contactCards {
    width: 300px;
}

.contactHeader {
    text-align: center;
}

.contactCards p {
    font-size: 16px;
}

.clubTeams {
    display: flex;
    justify-content: space-between;
    
}

.clubTeams img {
    max-width: 40%;
    height: auto;
    border-radius: 0px;
    object-fit: contain;
}
.clubTeamsContainer {
    padding-inline: var(--lrgSpacer);
}

.mobileShow {
    display: none;
}

.gallery {
    display: flex;
    justify-content: center;
}

.gallery img {
    object-fit: contain;
    max-width: 30%;
    padding: var(--mobileSmSpacer);
    padding-top: var(--medSpacer);
}


/* Her ligger footer kodningen */
footer {
    height: auto;
    width: 100%;
    padding: 10px 100px;
}

footer img {
    height: 125px;
    width: auto;
}

footer p {
    font-size: 20px;
    line-height: 150%;
}

footer a {
    font-size: 20px;
    line-height: 150%;
}

footer h4 {
    font-size: 24px;
    line-height: 150%;
}

.footerLink {
    width: 100%;
}

.footerLogo .fa-brands {
    font-size: 75px;
}

footer hr {
    width: 550px;
}
}